<div class="container-fluid text-center">
    <button 
    type="button" 
    class="btn btn-outline-danger"
    >
    Pokemon</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Peso</th>
                <th scope="col">Tipo</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let pokemon of pokemons" 
            style="cursor: pointer;"
            (click)="onClickPokemon(pokemon)"
            >
                <th scope="row">{{pokemon.id}}</th>
                <td>{{pokemon.nombre}}</td>
                <td>{{pokemon.peso}}</td>
                <td>{{pokemon.tipo}}</td>
                <td >
                    <img
                    [src]="pokemon.imagen" 
                    class="figure-img img-fluid rounded"
                    [alt]="pokemon.nombre">
                </td>
            </tr>
        </tbody>
    </table>
</div>